[Unit]
Description=Simple X Hotkey Daemon
Documentation=man:sxhkd(1)
After=multi-user.target

[Service]
ExecStart=/usr/bin/sxhkd
ExecReload=/usr/bin/kill -SIGUSR1 $MAINPID
Restart=always
RestartSec=1

[Install]
WantedBy=default.target

